<!DOCTYPE html>
<html lang="en">
<head>
  <title>CKI WEB DEV</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
</head>
<body style="height:1500px">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: white;">
        <a class="navbar-brand" href="#">
            <img src="/static/img/Blue_CKI_Seal.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            CKI A&M
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#service">Service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#signup">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#schedule">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="info">
      <div class="about" id="about" name="about">
        <h1>About</h1>
      </div>
    </div>
    <div class="info">
      <div class="service" id="service" name="service">
        <ul>
          <h1>Service</h1>
          <li> Community Service Projects: Local volunteer activities like food drives and clean-ups to support community needs. </li>
          <li>Fundraising Initiatives: Events to raise funds for local charities and global causes. </li>
          <li>Leadership Development: Workshops and conferences to enhance leadership skills and teamwork.</li>
          <li>Global Outreach: International projects that promote cultural understanding and address global issues.</li>
          <li>Fellowship and Networking: Social events that connect members and foster a supportive community.</li>
      </ul>
      </div>
    </div>
    <div class="info">
      <div class="signup" id="signup" name="signup">
        <h1>Sign Up</h1>
      </div>
    </div>
    <div class="info">
      <div class="schedule" id="schedule" name="schedule">
        <h1>Schedule</h1>
      </div>
    </div>
    <div class="info">
      <div class="contact" id="contact" name="contact">
        <h1>Contact</h1>
      </div>
    </div>
</body>
</html>