<!DOCTYPE html>
<html lang="en">
<head>
  <title>CKI WEB DEV</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
</head>
<body style="height:1500px">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: white;">
        <a class="navbar-brand" href="#">
            <img src="/static/img/Blue_CKI_Seal.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            CKI A&M
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#service">Service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#signup">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#schedule">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="info">
      <div class="about" id="about" name="about">
        <h1>About</h1>
        <p>Circle K International (CKI) is a global student-led organization dedicated to community service, leadership development, and fostering fellowship among college students.</p>
        <p>With a focus on making a positive impact, CKI empowers members to engage in meaningful volunteer activities that address local and global challenges.</p>
        <p>Through service projects, fundraising efforts, and leadership training, CKI members develop essential skills while building strong connections with fellow students.</p> 
        <p>By participating in CKI, individuals not only contribute to their communities but also grow personally and professionally, creating a network of like-minded peers committed to making a difference.</p>
      </div>
    </div>
    <div class="info">
      <div class="service" id="service" name="service">
        <h1>Service</h1>
          <p><b>Community Service Projects:</b> Local volunteer activities like food drives and clean-ups to support community needs.</p>
          <p><b>Fundraising Initiatives:</b> Events to raise funds for local charities and global causes.</p>
          <p><b>Leadership Development:</b> Workshops and conferences to enhance leadership skills and teamwork.</p>
          <p><b>Global Outreach:</b> International projects that promote cultural understanding and address global issues.</p>
          <p><b>Fellowship and Networking:</b> Social events that connect members and foster a supportive community.</p>
      </div>
    </div>
    <div class="info">
      <div class="signup" id="signup" name="signup">
        <h1>Sign Up</h1>
        <a href="https://tamu.estore.flywire.com/products/2024-tamu-cki-membership-dues-254597">Pay dues here</a>
      </div>
    </div>
    <div class="info">
      <div class="schedule" id="schedule" name="schedule">
        <h1>Schedule</h1>
          <p>Tuesdays</p>
          <p>5:30 - 6:30</p>
          <p>Rudder Tower 707</p>
      </div>
    </div>
    <div class="info">
      <div class="contact" id="contact" name="contact">
        <h1>Contact</h1>
          <p><a href="https://www.instagram.com/tamucki/">Instagram</a></p>
          <p><a href="https://discord.gg/JVQvYrf3">Discord</a></p>       
      </div>
    </div>
</body>
</html>